@import url('https://fonts.googleapis.com/css2?family=Coda&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
 .section-2-column:hover{
    transform: translateY(-0.5%);
    transition: 1s;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.477);
    cursor: pointer;
}
.logo{
    display: flex;
    padding: 0 5vw;
    font-size: 1.5rem;
}
.logo h1{
    color: rgb(11, 11, 11);
}
#pro{
    color: rgb(249, 55, 11);
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1.1rem;
}

nav ul li{
    margin: 0 1vw;
    padding: 0 2vw;
}  
nav ul li a{
    text-decoration: none;
    color: rgb(15, 14, 14);
}
nav ul li a:hover{
    cursor: pointer;
    font-weight: 900;
    background: rgb(229, 225, 217);
    transition: 0.5s;
}
nav ul p{
    margin-left: 1rem;
    margin-right: 0.5rem;
}
nav ul p:hover{
    cursor: pointer;
    font-weight: 900;
}
nav ul button{
    padding: 15px 40px;
    border-radius: 25px;
    font-size: large;
    font-weight: 700;
    background-color: transparent;
}
nav ul button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.bg{
    position: absolute;
    z-index: -1; 
    width: 80%;
    height: 80%;
    margin: 5vh 9vw;
    border-radius: 40px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23vh;
}
.head{
    font-size: 140%;
    color: rgb(124, 203, 27);
    font-weight: 900;
}
.content{
    margin: 1vh 15%;
    font-size: 1.5rem;
}
.line{
    font-size: 110%;
    color: rgb(88, 86, 86);
    margin: 0 15%;
}
.btn{
    display: flex;
    flex-direction: row;
    padding: 2vw;
}
#btn1:hover{
    cursor: pointer;
    text-decoration: underline;
}
#btn1{
    padding: 3vh 4vw;
    margin-right: 1vw;
    border-radius: 80px;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    background-color: black;
}
#btn2{
    margin-left: 1vw;
    padding: 3vh 4vw;
    border-radius: 80px;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: transparent;
}
#btn2:hover{
    cursor: pointer;
    text-decoration: underline;
}
.section-1-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin:4vh 0;
    gap: 20px;
}
.section-1-container .section-1-column{
    width: 450px;
    height: 480px;
    border-radius: 35px;
    box-shadow: 2px 3px 10px 3px rgba(162, 160, 160, 0.382);
}
.section-1-container .section-1-column img{
    width: 400px;
    height: 300px;
    margin: 30px 25px;
    border-radius: 25px;
}
.section-1-container .section-1-column p{
    font-weight: 800;
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-right: 1vw;
}
.section-1-container .section-1-column h3{
    margin-left: 2vw;
    color: rgb(124, 203, 27);
}
.content1{
    font-size: 200%;
    margin: 1vh 10vw;
    margin-left: 13vw;
}
.line1{
    font-size: 125%;
    margin-top: 2vh;
    color: rgb(88, 86, 86);
}
.btn input{
    padding: 3vh 4vw;
    border-radius: 35px;
    border: 2px solid rgba(225, 220, 220, 0.686); 
    font-size: 110%;
    background-color: white;
    margin-right: 5px;
}
.section-2-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin:15vh 0;
    gap: 40px;
    flex-wrap: wrap;
}
.section-2-container .section-2-column{
    width: 400px;
    height: 470px;
    border-radius: 35px; 
    border: 2px solid rgba(171, 170, 170, 0.225);
}
.section-2-container .section-2-column img{
    width: 350px;
    height: 275px;
    margin: 25px ;
    border-radius: 25px;
}
.section-2-container .section-2-column p{
    font-weight: 800;
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-right: 1vw;
}
.section-2-container .section-2-column h3{
    margin-left: 2vw;
    color: rgb(124, 203, 27);
}

footer{
    width: 100%;
    height: 100%;
    background-color: rgba(156, 180, 192, 0.274);
}
.contain{
    display: flex;
    justify-content: space-evenly;
}
.lst h3{
    color: black !important;
    margin: 7vh 0 2vh 0;
}
.lst{
    list-style-type: none;
    color: gray;
}
.lst li{
    padding: 4px 0;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer hr{
    margin: 4vh 8vw;
    border-bottom: 1px solid rgba(122, 133, 106, 0.373);
}
.bottom{
    list-style-type: none;
    display: flex;   
}
.bottom li{
    padding: 10px;
}
.contain li{
    list-style-type: none;
}

@media(min-width:1310px){
    nav ul p{
        margin-left: 9vw;
        margin-right: 2vw;
    }
}

@media(max-width:1342px){
    .content{
        font-size: 1.2rem;
    }
}

@media (max-width:1115px){
    nav{
        height: 200px;
        flex-wrap: wrap;
    }
    .logo{
        margin: 0 auto;
    }
    nav ul{
        margin:0 10%;
    }
    .content{
        font-size: 1rem;
    }
    
}
@media(max-width:1065px){
    #btn1,#btn2{
        padding: 1.3rem;
    }
}
@media(max-width:975px){
    #btn1,#btn2{
        padding: 0.8rem;
        border-radius: 1.2rem;
    }
}
@media(max-width:918px){
    .content1{
        font-size: 1.4rem;
    }
    
}
@media(max-width:850px){
    nav button,nav p{
        display: none;
    }
    nav ul{
        margin-left: 12vw;
    }
}
@media(max-width:760px){
    .content,.content1{
        font-size: 0.8rem;
    }
    .line,.line1{
        font-size: 0.6rem;
    }
    #btn1,#btn2{
        font-size: 0.7rem;
        border-radius: 0.8rem;
    }
    .lst li{
        display: none;
    }
    .btn input{
        padding:0.6rem 2rem ;
        font-size: 0.9rem;
    }
}
@media(max-width:600px){
    .lst h3{
        display: none;
    }
    .foot{
        flex-direction: column;
    }
    footer hr{
        display: none;
    }
}
@media (max-width:475px){
    .section-1-container .section-1-column{
        width:250px;
        height:300px;
    }
    .section-1-container .section-1-column img{
        height: 175px;
        width: 200px;
        margin-bottom: 5px;
    }
    .section-1-container .section-1-column p{
        font-size: 0.9rem;
    }
    .section-1-container .section-1-column h3{
        font-size: 1rem;
    }
}
@media(max-width:470px){
    nav ul{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }


}
@media(max-width:415px){
    .section-2-container .section-2-column{
        width: 300px;
        height: 300px;
    }
    .section-2-container .section-2-column img{
        height: 175px;
        width: 250px;
        margin-bottom: 5px;
    }
    .section-2-container .section-2-column p{
        font-size: 0.9rem;
    }
    .section-2-container .section-2-column h3{
        font-size: 1rem;
    }
    .head{width: 170%;}
    .content{
        width: 145%;
    }
    .line{
        width: 145%;
    }
}

@media(max-width:510px){
    .content,.content1{
        font-size: 0.4rem;
    }
    .line,.line1{
        font-size: 0.5rem;
    }
    #btn1,#btn2{
        font-size: 0.4rem;
        border-radius: 0.6rem;
    }
    .btn input{
        padding:0.4rem 1.2rem ;
        font-size: 0.7rem;
    }
}
@media(max-width:360px){
    .content{
        width: 295%;
    }
    .head{
        width: 250%;
        font-size: 0.9rem;
    }
    .line{
        width: 275%;
    }
}
@media(max-width:325px){
    .content{
        width: 503%;
    }
    .head{
        width: 500%;
        font-size: 0.9rem;
    }
    .line{
        width: 544%;
    }
}